<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Luke's Setup Assistant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Luke's Setup Assistant">
    <meta name="author" content="Lukasz Grzegorz Maciak">

    <!-- Le styles -->
    <style type="text/css">
      body {
        padding-bottom: 10px;
      }

      div.hero-unit {
          padding: 30px;
          margin-bottom: 15px;
      }

    </style>
    <link href="bower_components/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <nav class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <a href="/" class="brand">Luke's Setup Assistant</a>

                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="{{ page.active-home }}"><a href="/">Home</a></li>
                            <li class="{{ page.active-license }}"><a href="/license">License</a></li>
                            <li class="{{ page.active-changelog }}"><a href="/changelog">Changelog</a></li>
                            <li class="{{ page.active-old}}"><a href="/old">Old Versions</a></li>
                        </ul>
                    </div><!-- collapse -->
                </div><!-- container -->
            </div><!-- navbar-inner -->
        </div><!-- navbar -->

    </nav><!-- container -->

    <div class="container">

        {{ content }}


      <hr>

      <footer>
        <p>&copy; Lukasz Grzegorz Maciak 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>

